<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    body {
        text-align: center;
    }
</style>

<body style="background: whitesmoke;">
    <h1>LOGIN</h1>
    <hr>
    <center>
        <table border="1">
            <% if (error) { %>
                <p style="color:red;">
                    <%= error %>
                </p>
                <% } %>
                    <td>
                        <form action="/login" method="post" style="margin: 25px;">
                            Username:<input name="userName" type="userName"><br>
                            Password:<input name="password" type="password"><br><br>
                            <button type="submit" style="background-color: rgb(141, 143, 245);">Submit</button>
                        </form>
                    </td>
                    <br>
        </table>
    </center><br>
    <a href="/register">Don't have an account?</a>
</body>

</html>